OPENAI_API_KEY="your_api_key"
 
POSTGRES_USER=Example_of_postgres_user
POSTGRES_PASSWORD=Example_of_postgres_password
POSTGRES_DB=Database_name
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/ecommerce

AWS_ACCESS_KEY_ID=Example_of_AWS_access_key_id
AWS_SECRET_ACCESS_KEY=Example_of_AWS_secret_key
AWS_REGION=us-east-1
SES_SENDER_EMAIL=noreply@yourdomain.com

DEBUG=true
